
.btn {
    margin-left: 45vw;
    margin-top: 10vw;
}
.father {
    margin-top: 10vw;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}
.cir100 {
    border: 1px solid black;
    border-radius: 50%;
    margin: 1px;
    cursor: pointer;
}